<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guest.mapper.CheckCustomerRelationMapper">

    <select id="getRelationCustomer" resultType="com.guest.pojo.po.Customer">
        select *
        from customer c
                 left join check_customer_relation ccr
                           on c.id = ccr.customer_id
        where ccr.check_in_id = #{checkInId}
    </select>
</mapper>
